.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Data/
Release/
*.d
*.dia
*.o
*.swiftdeps
queuesync
queuesync_debug*
test*
mock_payload.txt
